// Type
$font-family-default: "Avenir", Helvetica, sans-serif;
$font-size-default: 16px;

// Main theme colors
$chrome-color:  #005172;
$nwr-dark-blue: #023448;

// Background Color
$background-color: #eee;

// Bars
$bar-side-spacing: 16px;
$bar-text-color: #fff;